<!DOCTYPE html>
<html>
  <head>
    <name><%= name %></name>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>Welcome to <%= name %></p>
  </body>
</html>
